<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.english.english_vision.mapper.WordMapper">
  <resultMap id="BaseResultMap" type="com.english.english_vision.pojo.Word">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="english" jdbcType="VARCHAR" property="english" />
    <result column="chinese" jdbcType="VARCHAR" property="chinese" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="frequency" jdbcType="INTEGER" property="frequency" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="usa" jdbcType="VARCHAR" property="usa" />
  </resultMap>
  <sql id="Base_Column_List">
    id, english, chinese, level, frequency, img, usa
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_word
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultType="com.english.english_vision.pojo.Word">
    select <include refid="Base_Column_List"></include>from t_word
  </select>
  <select id="selectByEnglish" resultType="com.english.english_vision.pojo.Word">
    select <include refid="Base_Column_List">

  </include>
from t_word where english = #{english}
  </select>
  <select id="selectByChinese" resultType="com.english.english_vision.pojo.Word">
    select <include refid="Base_Column_List"></include>
from t_word where chinese = #{chinese}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_word
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByEnglish">
    delete from t_word
    where english = #{english}
  </delete>
  <insert id="insert" parameterType="com.english.english_vision.pojo.Word" useGeneratedKeys="true" keyProperty="id">
    insert into t_word (id, english, chinese, 
      level, frequency, img, 
      usa)
    values (#{id,jdbcType=INTEGER}, #{english,jdbcType=VARCHAR}, #{chinese,jdbcType=VARCHAR}, 
      #{level,jdbcType=INTEGER}, #{frequency,jdbcType=INTEGER}, #{img,jdbcType=VARCHAR}, 
      #{usa,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.english.english_vision.pojo.Word">
    insert into t_word
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="english != null">
        english,
      </if>
      <if test="chinese != null">
        chinese,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="usa != null">
        usa,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="english != null">
        #{english,jdbcType=VARCHAR},
      </if>
      <if test="chinese != null">
        #{chinese,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="usa != null">
        #{usa,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.english.english_vision.pojo.Word">
    update t_word
    <set>
      <if test="english != null">
        english = #{english,jdbcType=VARCHAR},
      </if>
      <if test="chinese != null">
        chinese = #{chinese,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="frequency != null">
        frequency = #{frequency,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="usa != null">
        usa = #{usa,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.english.english_vision.pojo.Word">
    update t_word
    set english = #{english,jdbcType=VARCHAR},
      chinese = #{chinese,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      frequency = #{frequency,jdbcType=INTEGER},
      img = #{img,jdbcType=VARCHAR},
      usa = #{usa,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>